!!!
%html
  %head
    %title You're in an elevator! Click your way to the top!
  %body
    #left
      %h2
        Leaders
      %a{:href => "/", :style => "color: gold"}Back to the elevator
      %hr
      #div{:style => "margin-top: 30px"}
        %h3
          %h3 
            <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Ftheelevatorgame.com&amp;send=false&amp;layout=button_count&amp;width=40&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21&amp;appId=195692220502556" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:50px; height:21px;" allowTransparency="true"></iframe>
            %span{:style=>"margin-right: 65px; margin-top: 0px; float:right;"} The Elevator Game
        %h4 Click your way to the top!
        %hr
        %h3 <a href="https://twitter.com/share" data-url="http://theelevatorgame.com" data-text="My Elevator Game score is #{@ridecount} Rides and #{@floorcount} Floors" class="twitter-share-button" data-related="joshrweinstein" data-hashtags="elevatorgame" data-count="none">Tweet</a> My Stats
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        Rides:
        = @ridecount
        Floors:
        = @floorcount
        %br
        %br
        -#
          Time in Elevator:
          %br
          = @timecount
          seconds
        Name:
        %br
        - if session[:name] && session[:name] != ""
          = session[:name]
          %br
          
        - else
          = form_for "", :url => { :action => "nameentry" } do |l|
            %input{:name => :name, :maxlength => "20"}
            = l.submit
        %br
        %hr
        %br
        This is a project for a
        %br
        %a{:href => "http://www.joshrweinstein.com", :style => "color: white"}JoshRWeinstein.com
        %br
        blog post on UX
    #div{:style => "margin-left: 50px; float: left"}
      %table
        %tr
          %td
            %h5 Rides
          %td
            %h5 Floors
          %td
            %h5
              Time
              %br
              (in seconds)
          %td
            %h5 Name
        - @leaders.each do |leader|
          %tr
            %td
              = leader.ridecount
            %td
              = leader.floors
            %td{:style => "font-size: 36px"}
              = leader.time
            %td{:style => "font-size: 36px"}
              -if leader.name
                = leader.name
              -else
                Anonymous Rider
        
