!!!
%html
  %head
    %title You're in an elevator!
  %body{:style => "background: silver; text-align: center; width: 100%; margin: 50px auto"}
    #fb-root
    :javascript
      (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=195692220502556";
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));
    #left{:style=>"width: 300px; margin-top: 0px; margin-left: 50px; float: left; background: white; border: 2px double black; height: 500px"}
      %h2
        Leaders
      %a{:href => "/", :style => "color: blue"}Back to the elevator
      %h1{:style => "color: red"} 
        = @floor
      %hr
      #div{:style => "margin-top: 30px"}
        %h3
          .fb-like{"data-href" => "http://elevatorgame.heroku.com", "data-layout" => "button_count", "data-send" => "false", "data-show-faces" => "false", "data-width" => "0"}
          %span{:style=>"margin-left: -40px"} The Elevator Game
        %h4 Click your way to the top!
        %hr
        %h3 <a href="https://twitter.com/share" data-url="http://elevatorgame.heroku.com" data-text="My Elevator Game score is #{@ridecount} Rides and #{@floorcount} Floors" class="twitter-share-button" data-related="joshrweinstein" data-hashtags="elevatorgame" data-count="none">Tweet</a> My Stats
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        Rides:
        = @ridecount
        %br
        %br
        Floors Travelled:
        = @floorcount
        %br
        %br
        -#
          Time in Elevator:
          %br
          = @timecount
          seconds
        Name:
        %br
        - if session[:name] && session[:name] != ""
          = session[:name]
          %br
          
        - else
          = form_for "", :url => { :action => "nameentry" } do |l|
            %input{:name => :name, :maxlength => "20"}
            = l.submit
        %br
        %hr
        
        This is a project for a
        %br
        %a{:href => "http://www.joshrweinstein.com", :style => "color: blue"}JoshRWeinstein.com
        %br
        blog post on UX
    
    %table{:style=> "padding: 5px; text-align: center; width: 50%; margin: 0px auto"}
      %tr
        %td
          %h2 Rides
        %td
          %h2 Floors
        %td
          %h2 Time in seconds
        %td
          %h2 Name
      - @leaders.each do |leader|
        %tr
          %td
            = leader.rides
          %td
            = leader.floors
          %td
            = leader.time
          %td
            -if leader.name
              = leader.name
            -else
              Anonymous Rider
        
