!!!
%html
  %head
    %title You're in an elevator! Click your way to the top!
  %body{:style => "text-align: center; width: 100%; margin: 0px auto"}
    
    #results
      %table{:style=> "padding: 20px; text-align: center; width: 100%; margin: 20px auto; font-size: 14px"}
        %tr
          %td{:colspan => "4"}
            %a{:href => "http://www.joshrweinstein.com", :style => "color: gold"} TheElevatorGame.com
            is a project for a
            %a{:href => "http://www.joshrweinstein.com", :style => "color: gold"} JoshRWeinstein.com
            blog post on UX
        %tr
          %td{:colspan => "4"}
            %a{:href => "https://github.com/JoshRWeinstein/The-Elevator-Game", :style => "color: gold"} Feel free to play with the data (as of 2/7) and source code on github
        %tr
          %td Config
          %td 0: Normal elevator, lobby button up top
      
          %td 1: Normal elevator
      
          %td 2: Upside-down buttons, big bottom lobby  
        %tr
          %td{:colspan => "4"} Experiment 1: The Lobby  - .pickme chooses bottom-most
        - @buckets = ['A', 'US', 'S', 'P', 'C', 'T']
        
        - @buckets.each do |x|
          %tr
            %td
              =eval("@#{x}count")
              =eval("@#{x}type")
              %br
              prompts: 
              =eval("@#{x}lobby")
              %br
              drops: 
              =eval("@#{x}lobbydrops")
              %br
              !null: 
              =eval("@#{x}lobbynotnull")
              %br
              !nAvgTTC (s):
              =eval("@#{x}lobbynotnullavgTTC")
              %br
              Bigs:
              =eval("@#{x}lobbytop")

            - (0..2).each do |jw|
              %td
                users
                =eval("@#{x}#{jw}count")
                %br
                prompts: 
                =eval("@#{x}lobby#{jw}")
                %br
                drops:
                =eval("@#{x}lobby#{jw}drops")
                %br
                !null: 
                =eval("@#{x}lobby#{jw}notnull")
                %br
                !nAvgTTC:
                =eval("@#{x}lobby#{jw}notnullavgTTC")
                %br
                Big:
                =eval("@#{x}lobby#{jw}top")
                %br
                !nAVGBTTC:
                =eval("@#{x}lobby#{jw}notnullavgBTTC")

        %tr
          %td{:colspan => "4"} Experiment 2: Other buttons
        - @buckets = ['A', 'US', 'S', 'P', 'C', 'T']

        - @buckets.each do |x|
          %tr
            %td
              =eval("@#{x}count")
              =eval("@#{x}type")
              %br
              prompts: 
              =eval("@#{x}notlob")
              %br
              drops: 
              =eval("@#{x}notlobdrops")
              %br
              !nulls: 
              =eval("@#{x}notlobnotnull")
              %br
              !nAvgTTC:
              =eval("@#{x}notlobnotnullavgTTC")


            - (0..2).each do |jw|
              %td
                ppl:
                =eval("@#{x}#{jw}count")
                %br
                prompts: 
                =eval("@#{x}notlob#{jw}")
                %br
                drops:
                =eval("@#{x}notlob#{jw}drops")
                %br
                !nulls: 
                =eval("@#{x}notlob#{jw}notnull")
                %br
                !nAvgTTC:
                =eval("@#{x}notlob#{jw}notnullavgTTC")
          -#
        %tr
          %td{:colspan => "4"} Experiment 3: Distribution of Ridecounts
        %tr
          %td{:colspan=>"4"}
            <img src="/distributionchart.png">
