!!!
%html
  %head
    %title You're in an elevator!
  %body{:style => "background: silver; text-align: center; width: 100%; margin: 10px auto"}
    #left{:style=>"width: 300px; margin-top: 50px; margin-left: 50px; float: left"}
      %h2
        Click on floor...
      %h1 
        = @floor
      #div{:style => "margin-top: 100px"}
        Rides:
        %br
        = @ridecount
        %br
        %br
        Floors Travelled:
        %br
        = @floorcount
        %br
        %br
        Time in Elevator:
        %br
        = @timecount
        seconds
    - if @config < 2
      - var = @i * @j - @j + 1
    - else
      - var = 1
    
    %table{:style=> "padding: 5px; text-align: center; width: 50%; margin: 50px auto"}
      - if @config < 1
        %tr
          %td{:colspan => "5"}
            - if @floor == 1 
              = form_for @ride,  :url => { :action => "update", :ride_id => @ride.id, :top => :true } do |f| 
                = f.submit "1", :style= => "color: black;"
            - else
              1
      - 1.upto(@i) do |rows|
        %tr
          - 1.upto(@j) do
            %td{:style=> "padding: 50px;"}
              - if var == @floor
                -#
                = form_for @ride,  :url => { :action => "update", :ride_id => @ride.id } do |f|
                  
                  = f.submit "#{var}", :style= => "color: black; width: 100px; height: 200px"  
              - else 
                = var
              - var += 1
          - if @config <2
            - var -= 2*@j
      - if @config > 1
        %tr
          %td{:colspan => "5"}
            - if @floor == 1 
              = form_for @ride,  :url => { :action => "update", :ride_id => @ride.id, :top => :true } do |f| 
                = f.submit "1", :style= => "color: black;"
            - else
              1

        

    