!!!
%html
  %head
    %title You're in an elevator!
  %body{:style => "background: silver; text-align: center; width: 100%; margin: 50px auto"}
    #left{:style=>"width: 300px; margin-top: 0px; margin-left: 50px; float: left; background: white; border: 2px inset black; height: 400px"}
      %h2
        Click on floor...
      %h1{:style => "color: red"} 
        = @floor
      %hr
      #div{:style => "margin-top: 30px"}
        %h3 The Elevator Game
        %h4 Click your way to the top!
        Rides:
        %br
        = @ridecount
        %br
        %br
        Floors Travelled:
        %br
        = @floorcount
        %br
        %br
        -#
          Time in Elevator:
          %br
          = @timecount
          seconds
        %a{:href => "/leaders", :style => "color: blue"} Leaderboard
        
    - if @config < 2
      - var = @i * @j - @j + 1
    - else
      - var = 1
    
    %table{:style=> "padding: 20px; text-align: center; width: 700px; margin: 0px auto"}
      - if @config < 1
        %tr
          - if @floor == 1 
            %td{:colspan => "5", :style=> "width: 50px; height: 50px; background: #999999; -moz-border-radius: 15px; border-radius: 15px; border: 1px black solid;", :id => "pickme"}
              = form_for @ride,  :url => { :action => "update", :ride_id => @ride.id, :top => :true } do |f| 
                = f.submit "1", :style= => "color: black;"
          - else
            %td{:colspan => "5", :style=> "width: 50px; height: 50px; background: #999999; -moz-border-radius: 15px; border-radius: 15px; border: 1px black solid;"}
              1
      - 1.upto(@i) do |rows|
        %tr
          - 1.upto(@j) do
            - if var == @floor
              %td{:style=> "width: 50px; height: 100px; background: #999999; -moz-border-radius: 15px; border-radius: 15px; border: 1px black solid;", :id => "pickme"}
                = form_for @ride,  :url => { :action => "update", :ride_id => @ride.id } do |f|
                  = f.submit "#{var}", :style= => "color: black; width: 100px; height: 200px"  
            - else
              %td{:style=> "width: 50px; height: 100px; background: #999999; -moz-border-radius: 15px; border-radius: 15px; border: 1px black solid;"} 
                = var
            - var += 1
          - if @config <2
            - var -= 2*@j
      - if @config > 1
        %tr
          - if @floor == 1 
            %td{:colspan => "5", :style=> "width: 50px; height: 50px; background: #999999; -moz-border-radius: 15px; border-radius: 15px; border: 1px black solid;", :id => "pickme"}
              = form_for @ride,  :url => { :action => "update", :ride_id => @ride.id, :top => :true } do |f| 
                = f.submit "1", :style= => "color: black;"
          - else
            %td{:colspan => "5", :style=> "width: 50px; height: 50px; background: #999999; -moz-border-radius: 15px; border-radius: 15px; border: 1px black solid;"}
              1