!!!
%html
  %head
    %title You're in an elevator! Click your way to the top!
    <meta property="og:image" content="http://theelevatorgame.com/elevatorgame.jpg"/>
    <meta property="og:title" content="The Elevator Game - Clicking challenege"/>
    <meta property="og:description" content="Think you can be the clicking champ? Then click your way to the top!"/>
    
    :javascript
      $('.pickme').live('click', function(){ 
          $(this).css('background-image', 'none');
          $(this).css('background-color', '#ff0000');

          $('form', this).submit();
          
          return false;
      });
      $('.open').live('click', function(){ 
          $('html').css('display', 'none');
          $('h1').css('display', '');
          setTimeout("$('html').css('display', '')", 500);
          
          return false;
      });
      
      $('.close').live('click', function(){ 
          alert("In most elevators, this button doesn't actually do anything... \n\n ...all it got you in this one was this annoying popup. \n");
          return false;
      });
      
    = stylesheet_link_tag 'application.css', :media => 'screen, projection'
      
  %body{:style => "text-align: center; width: 100%; margin: 0px auto"}
    %h1{:style => "display: none; color: white", :class => "whew"} Whew, thanks for holding the door!
    #left
      %h3 
        <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Ftheelevatorgame.com&amp;send=false&amp;layout=button_count&amp;width=40&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21&amp;appId=195692220502556" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:50px; height:21px;" allowTransparency="true"></iframe>
        %span{:style=>"margin-right: 25px; margin-top: 0px; float:right;"} TheElevatorGame.com
      %h4
        Click your way to the top
      - if @ridecount > 9
        %a{:href => "/leaders", :style => "color: gold"} The Leaderboard
      - else
        Leaderboard access: 10 rides
      %br
      %br

      %hr
      %h2{:style => "color: red"} 
        Click on floor...
      %h1{:style => "color: red"} 
        = @floor
      #div{:style => "margin-top: 20px"}
        %hr
        - if @ridecount > 4
        
          %h3
            <a href="https://twitter.com/share" data-url="http://theelevatorgame.com" data-text="My Elevator Game score is #{@ridecount} Rides and #{@floorcount} Floors" class="twitter-share-button" data-related="joshrweinstein" data-hashtags="elevatorgame" data-count="none">Tweet</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            %br
            My Stats
          Rides:
          = @ridecount
        
          Floors:

          = @floorcount
          %br
          Time:
          = @timecount
        - else
          Take 5 rides to get stats
        
        %hr

        %br
        This is a project for a
        %br
        %a{:href => "http://www.joshrweinstein.com", :style => "color: white"}JoshRWeinstein.com
        %br
        blog post on UX
        
    - if @config < 2
      - var = @i * @j - @j + 1
    - else
      - var = 1
    
    #right
      %table{:style=> "padding: 20px; text-align: center; width: 700px; margin: 20px auto"}
        - if @config < 1
          %tr
            - if @floor == 1 
              %td{:colspan => "5", :class => "pickme"}
                = form_for @ride, :url => { :action => "update", :ride_id => @ride.id, :top => :true } do |f| 
                  1
            - else
              %td{:colspan => "5"}
                1
        - 1.upto(@i) do |rows|
          %tr
            - 1.upto(@j) do
              - if var == @floor
                %td{:style=> "width: 50px; height: 100px; -moz-border-radius: 15px; border-radius: 15px; border: 1px black solid;", :class => "pickme"}
                  = form_for @ride, :url => { :action => "update", :ride_id => @ride.id } do |f|
                    =var
              - else
                %td{:style=> "width: 50px; height: 100px; -moz-border-radius: 15px; border-radius: 15px; border: 1px black solid;"} 
                  = var
              - var += 1
            - if @config <2
              - var -= 2*@j
        - if @config > 1
          %tr
            - if @floor == 1 
              %td{:colspan => "5", :class => "pickme"}
                = form_for @ride, :url => { :action => "update", :ride_id => @ride.id, :top => :true } do |f| 
                  1
            - else
              %td{:colspan => "5"}
                1
        
      - if @ridecount > 20
        %table{:style=>"margin: 150px auto"}
          %tr
            %td{:class => "open"}
              ⇦⇨
            %td{:class => "close"}
              ⇨⇦
            %td
              %a{:href=>"http://www.themertonshow.com", :style => "color:white; text-decoration: none", :target => "_blank"} ✪
            %td
              %a{:href=>"http://www.youtube.com/watch?v=7W_n292ozNc", :style => "color:white; text-decoration: none", :target => "_blank"}❻❻❻  
      - else
        %br
        %br
        - if @ridecount < 5
          Take 5 rides for Stats
        %br
        - if @ridecount < 10
          Take 10 rides for Leaderboard
        %br
        %br
        %br
        %span{:style=>"margin: 1500px auto;"} Take 20 rides for Easter Egg buttons