!!!
%html
  %head
    %title You're in an elevator!
    :javascript
      $('.pickme').live('click', function(){ 
          $(this).css('background-color', '#ff0000');
          $('form', this).submit();
          
          return false;
      });
      
  %body{:style => "background: silver; text-align: center; width: 100%; margin: 50px auto"}
    #fb-root
    :javascript
      (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=195692220502556";
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));
    #left{:style=>"width: 300px; margin-top: 0px; margin-left: 50px; float: left; background: white; border: 2px double black; height: 500px"}
      %h2
        Click on floor...
      %h1{:style => "color: red"} 
        = @floor
      #div{:style => "margin-top: 20px"}
        %hr
        %h3 <a href="https://twitter.com/share" data-url="http://elevatorgame.heroku.com" data-text="My Elevator Game score is #{@ridecount} Rides and #{@floorcount} Floors" class="twitter-share-button" data-related="joshrweinstein" data-hashtags="elevatorgame" data-count="none">Tweet</a> My Stats
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        Rides:

        = @ridecount
        %br
        %br
        Floors Travelled:

        = @floorcount
        %br
        %br
        %hr
        %h3 
          .fb-like{"data-href" => "http://elevatorgame.heroku.com", "data-layout" => "button_count", "data-send" => "false", "data-show-faces" => "false", "data-width" => "0"}
          %span{:style=>"margin-left: -40px"} The Elevator Game
        %h4 Click your way to the top!
        %a{:href => "/leaders", :style => "color: blue"} Leaderboard
        %br
        %br
  
        %hr
        
        This is a project for a
        %br
        %a{:href => "http://www.joshrweinstein.com"}JoshRWeinstein.com
        %br
        blog post on UX
        
    - if @config < 2
      - var = @i * @j - @j + 1
    - else
      - var = 1
    
    %table{:style=> "padding: 20px; text-align: center; width: 700px; margin: 0px auto"}
      - if @config < 1
        %tr
          - if @floor == 1 
            %td{:colspan => "5", :style=> "width: 50px; height: 50px; background: #999999; -moz-border-radius: 15px; border-radius: 15px; border: 1px black solid;", :class => "pickme"}
              = form_for @ride, :url => { :action => "update", :ride_id => @ride.id, :top => :true } do |f| 
                1
          - else
            %td{:colspan => "5", :style=> "width: 50px; height: 50px; background: #999999; -moz-border-radius: 15px; border-radius: 15px; border: 1px black solid;"}
              1
      - 1.upto(@i) do |rows|
        %tr
          - 1.upto(@j) do
            - if var == @floor
              %td{:style=> "width: 50px; height: 100px; background: #999999; -moz-border-radius: 150px; border-radius: 15px; border: 1px black solid;", :class => "pickme"}
                = form_for @ride, :url => { :action => "update", :ride_id => @ride.id } do |f|
                  =var
            - else
              %td{:style=> "width: 50px; height: 100px; background: #999999; -moz-border-radius: 15px; border-radius: 15px; border: 1px black solid;"} 
                = var
            - var += 1
          - if @config <2
            - var -= 2*@j
      - if @config > 1
        %tr
          - if @floor == 1 
            %td{:colspan => "5", :style=> "width: 50px; height: 50px; background: #999999; -moz-border-radius: 15px; border-radius: 15px; border: 1px black solid;", :class => "pickme"}
              = form_for @ride, :url => { :action => "update", :ride_id => @ride.id, :top => :true } do |f| 
                1
          - else
            %td{:colspan => "5", :style=> "width: 50px; height: 50px; background: #999999; -moz-border-radius: 15px; border-radius: 15px; border: 1px black solid;"}
              1